.container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.puzzle {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid purple;
  justify-items: center;
  width: 416px;
}

.cell,
.empty-cell {
  display: inline-flex;
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.empty-cell {
  background-color: transparent;
  border: 2px solid transparent;
  pointer-events: none;
}

.no-move {
  cursor: not-allowed;
}
